:root {
  --white: rgb(255, 255, 255);
  --lightest-grey: rgba(249, 250, 251);
  --light-grey: rgba(229, 231, 235);
  --medium-grey: rgb(75, 85, 99);
  --light-red: rgb(252, 165, 165);

  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

input:focus,
select:focus,
button:focus {
  outline: none;
}
