@tailwind preflight;
@tailwind components;
@tailwind utilities;

.Modal {
	background-color: rgba(0,0,0,0.3);
}

input:focus,
select:focus,
button:focus {
	outline: none;
}


#card {
	width: 400px;
	height: 650px;
}

