.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem 0;
  background-color: var(--light-red);

  & a {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 1rem;

    &:hover {
      scale: 1.2;
    }
  }

  & span {
    color: var(--white);
    font-size: 3rem;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
  }
}
