.Pokemon {
  margin-left: 0.5rem;
  margin-top: 0.5rem;

  &:hover {
    scale: 1.2;
  }

  & button {
    padding: 0.5rem;
    border-width: 2px;
    border-color: transparent;
    background-color: var(--white);

    &:hover {
      border: solid;
      border-width: 2px;
      border-color: var(--light-red);
    }
  }

  & p {
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}
